function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
call square.dispose 0
pop temp 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto SquareGame$IF_ELSE0
call square.moveUp 0
pop temp 0
goto SquareGame$IF_END1
label SquareGame$IF_ELSE0
label SquareGame$IF_END1
push this 1
push constant 2
eq
not
if-goto SquareGame$IF_ELSE2
call square.moveDown 0
pop temp 0
goto SquareGame$IF_END3
label SquareGame$IF_ELSE2
label SquareGame$IF_END3
push this 1
push constant 3
eq
not
if-goto SquareGame$IF_ELSE4
call square.moveLeft 0
pop temp 0
goto SquareGame$IF_END5
label SquareGame$IF_ELSE4
label SquareGame$IF_END5
push this 1
push constant 4
eq
not
if-goto SquareGame$IF_ELSE6
call square.moveRight 0
pop temp 0
goto SquareGame$IF_END7
label SquareGame$IF_ELSE6
label SquareGame$IF_END7
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
pop local 1
label SquareGame$WHILE_EXP8
push local 1
not
not
if-goto SquareGame$WHILE_END9
label SquareGame$WHILE_EXP10
push local 0
push constant 0
eq
not
if-goto SquareGame$WHILE_END11
call Keyboard.keyPressed 0
pop local 0
call SquareGame.moveSquare 0
pop temp 0
goto SquareGame$WHILE_EXP10
label SquareGame$WHILE_END11
push local 0
push constant 81
eq
not
if-goto SquareGame$IF_ELSE12
pop local 1
goto SquareGame$IF_END13
label SquareGame$IF_ELSE12
label SquareGame$IF_END13
push local 0
push constant 90
eq
not
if-goto SquareGame$IF_ELSE14
call square.decSize 0
pop temp 0
goto SquareGame$IF_END15
label SquareGame$IF_ELSE14
label SquareGame$IF_END15
push local 0
push constant 88
eq
not
if-goto SquareGame$IF_ELSE16
call square.incSize 0
pop temp 0
goto SquareGame$IF_END17
label SquareGame$IF_ELSE16
label SquareGame$IF_END17
push local 0
push constant 131
eq
not
if-goto SquareGame$IF_ELSE18
push constant 1
pop this 1
goto SquareGame$IF_END19
label SquareGame$IF_ELSE18
label SquareGame$IF_END19
push local 0
push constant 133
eq
not
if-goto SquareGame$IF_ELSE20
push constant 2
pop this 1
goto SquareGame$IF_END21
label SquareGame$IF_ELSE20
label SquareGame$IF_END21
push local 0
push constant 130
eq
not
if-goto SquareGame$IF_ELSE22
push constant 3
pop this 1
goto SquareGame$IF_END23
label SquareGame$IF_ELSE22
label SquareGame$IF_END23
push local 0
push constant 132
eq
not
if-goto SquareGame$IF_ELSE24
push constant 4
pop this 1
goto SquareGame$IF_END25
label SquareGame$IF_ELSE24
label SquareGame$IF_END25
label SquareGame$WHILE_EXP26
push local 0
push constant 0
eq
not
not
if-goto SquareGame$WHILE_END27
call Keyboard.keyPressed 0
pop local 0
call SquareGame.moveSquare 0
pop temp 0
goto SquareGame$WHILE_EXP26
label SquareGame$WHILE_END27
goto SquareGame$WHILE_EXP8
label SquareGame$WHILE_END9
push constant 0
return
