function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
pop this 0
pop this 1
pop this 10
push constant 6
sub
pop this 11
pop this 12
push constant 6
sub
pop this 13
push constant 0
pop this 14
call Ball.show 0
pop temp 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
call Screen.setColor 1
pop temp 0
call Ball.draw 0
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
call Screen.setColor 1
pop temp 0
call Ball.draw 0
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push this 0
sub
pop this 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
pop this 7
