function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push constant 400
push constant 0
call ball.setDestination 2
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
call Output.printString 1
pop temp 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
return
function PongGame.dispose 0
push argument 0
pop pointer 0
call bat.dispose 0
pop temp 0
call ball.dispose 0
pop temp 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label PongGame$WHILE_EXP0
not
if-goto PongGame$WHILE_END1
goto PongGame$WHILE_EXP0
label PongGame$WHILE_END1
label PongGame$WHILE_EXP2
not
if-goto PongGame$WHILE_END3
goto PongGame$WHILE_EXP2
label PongGame$WHILE_END3
