function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return  
function Keyboard.keyPressed 0
push static 0
push constant 0
add  
pop pointer 1
push that 0
return  
function Keyboard.readChar 1
label LABEL_1 
call Keyboard.keyPressed 0
push constant 0
eq  
not  
if-goto LABEL_0 
goto LABEL_1 
label LABEL_0 
call Keyboard.keyPressed 0
pop local 0
label LABEL_3 
call Keyboard.keyPressed 0
push constant 0
eq  
not  
not  
if-goto LABEL_2 
goto LABEL_3 
label LABEL_2 
push local 0
call Output.printChar 1
pop temp 0
push local 0
return  
function Keyboard.readLine 2
push argument 0
call Output.printString 1
pop temp 0
push constant 50
call String.new 1
pop local 0
call Keyboard.readChar 0
pop local 1
label LABEL_5 
push local 1
call String.newLine 0
eq  
not  
not  
if-goto LABEL_4 
push local 1
call String.backSpace 0
eq  
not  
if-goto LABEL_6 
push local 0
call String.eraseLastChar 1
pop temp 0
goto LABEL_7 
label LABEL_6 
push local 0
push local 1
call String.appendChar 2
pop temp 0
label LABEL_7 
call Keyboard.readChar 0
pop local 1
goto LABEL_5 
label LABEL_4 
push local 0
return  
function Keyboard.readInt 1
push argument 0
call Keyboard.readLine 1
pop local 0
push local 0
call String.intValue 1
return  
